N8N_VERSION=stable

POSTGRES_USER=n8nAdminUser
POSTGRES_PASSWORD=n8nAdminPassword
POSTGRES_DB=n8n

POSTGRES_NON_ROOT_USER=n8nUser
POSTGRES_NON_ROOT_PASSWORD=n8nPassword

RUNNERS_AUTH_TOKEN=RunnerAuthToken

# ngrok domain for localhost development
# example
PUBLIC_DOMAIN=lesha-bibasic-felix.ngrok-free.dev